body{
    width: 100%;
    background-color: #f4f4f4;
    margin: 0px;
}
.sidebar{
    position: fixed;
    height: 100vh;
    background:  rgb(118, 127, 203);
    border-top: none;
    float: left;
    min-width: 15%;
}
.profile{
    position: relative;
    top: 30px;
    left: 30px;
}
#button{
    position: relative;
    top: 100px;
}

#deps{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    top: 200px;
    align-items: center;    
}
.d{
    padding: 10px;
}
.sidebar